.contact {
  padding: 80px 0;
  &__title {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
  input,
  textarea,
  select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #89898b;
    outline: none;
    padding: 9px 15px;
    font-family: "Raleway-Regular";
    color: #89898b;
  }
  label {
    margin-top: 27px;
  }

  textarea{
    resize: none;
  }
  select{
    color: #89898b;
  }
}
.send-form {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
  &__btn{
      margin: 0 auto;
  }

  @include for-mobile {
    width:100%;
  }
}

.upload{
    display: flex;
    justify-content: space-around;
    margin: 30px 0 40px;
    input{
        display: none;
    }
    label::after{
        content: "_";
        color: transparent;
        background-image: url(./img/contact/layer1.png);
        background-repeat: no-repeat;
        margin-left: 5px;
    }
}
