header {
  padding: 40px 0 100px;
  background-image: url(./img/header/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  align-items: center;
  width: 1134px;
  border-bottom: 1px solid #89898b;
  padding-bottom: 10px;
}
.navigation .navigation-list {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 992px) {
  .navigation .navigation-list {
    text-align: end;
    display: none;
  }
}
.navigation a {
  color: #89898b;
  text-decoration: none;
  position: relative;
}
.navigation a:hover {
  color: #ff0e0e;
}
@media screen and (max-width: 1150px) {
  .navigation {
    width: 900px;
  }
  .navigation li {
    margin-right: 10px;
  }
}
@media screen and (max-width: 992px) {
  .navigation {
    width: 600px;
  }
}
@media screen and (max-width: 700px) {
  .navigation {
    width: 300px;
  }
}

.header-group {
  width: 1134px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: auto;
}
@media screen and (max-width: 700px) {
  .header-group img {
    width: 60%;
  }
}
.header-group__logo {
  margin-top: 58px;
}
.header-group__title {
  font-family: "PlayfairDisplaySC-Black";
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #F6F6F6;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 58px;
}
.header-group__best-artist {
  position: absolute;
  top: 10px;
  left: 0;
}
@media screen and (max-width: 700px) {
  .header-group__best-artist {
    display: none;
  }
}

.header-contacts {
  flex-direction: column;
  position: absolute;
  display: none;
  z-index: 10;
}
.header-contacts li {
  margin-top: 20px;
  margin-left: 25px;
}

.menuToggle {
  display: none;
}
@media screen and (max-width: 992px) {
  .menuToggle {
    display: block;
    text-align: end;
  }
}

.artists {
  padding: 85px 0 80px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
@media screen and (max-width: 1150px) {
  .cards {
    flex-wrap: wrap;
    justify-content: space-around;
    width: 680px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .cards {
    width: 350px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }
}

.artist-card {
  color: #F6F6F6;
  width: 260px;
}
@media screen and (max-width: 992px) {
  .artist-card {
    margin-top: 15px;
    margin-right: 10px;
  }
}

.artist-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 15px;
}
.artist-info__name {
  font-family: "PlayfairDisplaySC-Black";
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
}

.achievements {
  padding: 150px 0;
  background-image: url(./img/achievement/achievement.png);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1150px) {
  .achievements {
    padding: 50px;
  }
}
@media screen and (max-width: 992px) {
  .achievements {
    padding: 30px;
  }
}

.achievements-group {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  .achievements-group {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 992px) {
  .achievements-group {
    flex-direction: column;
    align-items: center;
  }
}

.achievement {
  display: flex;
}
.achievement img {
  align-self: flex-start;
}
@media screen and (max-width: 1150px) {
  .achievement {
    margin-top: 30px;
  }
}
@media screen and (max-width: 992px) {
  .achievement {
    margin-top: 20px;
  }
}

.achievement-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.achievement-info__title {
  text-transform: uppercase;
  color: #1d1c21;
  font-weight: 900;
}
.achievement-info__text {
  width: 220px;
  margin: 8px 0 4px;
}
.achievement-info__more {
  color: #ff0e0e;
}

.works {
  padding: 80px 0 90px;
  position: relative;
}
.works__title {
  color: #F6F6F6;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  margin: 24px 0 0 0;
}
.works__more {
  position: absolute;
  top: 100px;
  right: 0;
}
@media screen and (max-width: 1150px) {
  .works__more {
    top: 190px;
  }
}
@media screen and (max-width: 700px) {
  .works__more {
    top: auto;
    right: 20px;
    bottom: 30px;
  }
}

.works-group {
  margin-top: -30px;
  display: flex;
  justify-content: space-between;
}
.works-group a:nth-child(-n+2) {
  align-self: flex-end;
}
@media screen and (max-width: 700px) {
  .works-group a:nth-child(-n+2) {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .works-group {
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-around;
    width: 680px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px) {
  .works-group {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1150px) {
  .works-group img {
    margin-top: 15px;
  }
}
@media screen and (max-width: 700px) {
  .works-group img {
    margin-top: 8px;
  }
}

.about {
  padding: 40px 0 40px;
  background-image: url(./img/about/about_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
}

.about-img {
  width: 649px;
  height: 456px;
  position: absolute;
  right: 10px;
  top: -57px;
}
@media screen and (max-width: 1150px) {
  .about-img {
    width: 551px;
    height: 400px;
    right: -25px;
    top: -30px;
  }
}
@media screen and (max-width: 992px) {
  .about-img {
    display: none;
  }
}

.about-info {
  display: flex;
  flex-direction: column;
}
.about-info__text {
  margin-top: 20px;
  display: inline-block;
  width: 455px;
  margin-bottom: 20px;
  color: #1d1c21;
  line-height: 18px;
  letter-spacing: 0.01em;
  width: 380px;
}
@media screen and (max-width: 1150px) {
  .about-info__text {
    width: 350px;
  }
}
@media screen and (max-width: 992px) {
  .about-info__text {
    width: 100%;
  }
}

.gallery {
  padding-top: 80px;
}
.gallery__title {
  text-align: center;
}
.gallery img {
  margin-top: 10px;
}
.gallery .gallery-group {
  margin-top: 14px;
}
.gallery .more-works {
  text-align: center;
  margin-top: 30px;
}

.grid-item,
.grid-sizer {
  width: 218px;
  height: 218px;
}
@media screen and (max-width: 700px) {
  .grid-item,
.grid-sizer {
    width: 114px;
    height: 114px;
  }
}

.grid-item--width2 {
  width: 446px;
}
@media screen and (max-width: 700px) {
  .grid-item--width2 {
    width: 346px;
  }
}

.grid-item--height2 {
  height: 446px;
}
@media screen and (max-width: 700px) {
  .grid-item--height2 {
    height: 346px;
  }
}

.gutter-sizer {
  width: 10px;
}

.contact {
  padding: 80px 0;
}
.contact__title {
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.contact input,
.contact textarea,
.contact select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #89898b;
  outline: none;
  padding: 9px 15px;
  font-family: "Raleway-Regular";
  color: #89898b;
}
.contact label {
  margin-top: 27px;
}
.contact textarea {
  resize: none;
}
.contact select {
  color: #89898b;
}

.send-form {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 0 auto;
}
.send-form__btn {
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  .send-form {
    width: 100%;
  }
}

.upload {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 40px;
}
.upload input {
  display: none;
}
.upload label::after {
  content: "_";
  color: transparent;
  background-image: url(./img/contact/layer1.png);
  background-repeat: no-repeat;
  margin-left: 5px;
}

.location {
  background-color: #c4c4c4;
  display: flex;
  justify-content: space-between;
  color: #1d1c21;
}
@media screen and (max-width: 1150px) {
  .location img {
    width: 60%;
  }
}
@media screen and (max-width: 992px) {
  .location img {
    width: auto;
  }
}
@media screen and (max-width: 992px) {
  .location {
    flex-direction: column;
  }
}

.location-info {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 96px;
}
.location-info__title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0 8px;
}
.location-info__text {
  font-size: 15px;
  width: 244px;
}

.social {
  display: flex;
  margin-top: 15px;
}
.social img {
  margin-right: 26px;
}

.footer {
  padding: 80px 0 20px;
}
.footer__nav {
  border-top: 1px solid #89898b;
  padding-top: 20px;
  padding-bottom: 10px;
}
.footer .copyright {
  margin-top: 20px;
  font-size: 13px;
  color: #89898b;
  display: flex;
}
@media screen and (max-width: 992px) {
  .footer .copyright {
    flex-direction: column;
    text-align: center;
  }
}
.footer .copyright__location {
  display: block;
  margin-left: 103px;
}
@media screen and (max-width: 1150px) {
  .footer .copyright__location {
    margin: 0;
  }
}

.footer-contacts {
  flex-direction: row;
  position: absolute;
  right: 0;
  display: none;
}
.footer-contacts li {
  margin-top: 30px;
  margin-left: 25px;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("./fonts/Raleway-SemiBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Raleway-Regular";
  src: url("./fonts/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "PlayfairDisplaySC-Black";
  src: url("./fonts/PlayfairDisplaySC-Black.ttf");
  font-weight: 900;
}
h1,
h2 {
  font-family: "PlayfairDisplaySC-Black";
}

body {
  font-family: "Raleway-Regular";
  margin: 0;
  background-color: #1d1c21;
  color: #F6F6F6;
}

.btn {
  font-family: "Raleway-SemiBold";
  font-size: 16px;
  color: #F6F6F6;
  border: 1px solid #F6F6F6;
  width: 180px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 15px 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.container {
  width: 1134px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1150px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

.section-title {
  text-transform: uppercase;
  font-size: 61px;
  color: #89898B;
  margin: 0;
}
@media screen and (max-width: 700px) {
  .section-title {
    font-size: 40px;
  }
}

.pluse {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #ff0e0e;
  color: #ff0e0e;
  font-size: 15px;
  margin-left: 5px;
  line-height: 12px;
  text-align: center;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
